body {
    font-family: Arial, sans-serif;
}

header {
    background: url('header-bg.jpg') no-repeat center center;
    background-size: cover;
}

.card {
    margin-bottom: 30px;
}

.carousel-item {
    text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
}

.carousel-control-prev-icon:after,
.carousel-control-next-icon:after {
    content: '';
}
